<table>
    <th> <h3>Buildings</h3> </th>
    <tr>
      <img src="assets/ZergIcons/BanelingNest.png" class="img-responsive" (click)="tileClicked('Baneling Nest')">
      <img src="assets/ZergIcons/CreepTumor.png" class="img-responsive" (click)="tileClicked('Creep Tumor')">
      <img src="assets/ZergIcons/EvolutionChamber.png" class="img-responsive" (click)="tileClicked('Evolution Chamber')">
      <img src="assets/ZergIcons/GreaterSpire.png" class="img-responsive" (click)="tileClicked('Greater Spire')">
      <img src="assets/ZergIcons/Hatchery.png" class="img-responsive" (click)="tileClicked('Hatchery')">
      <img src="assets/ZergIcons/Hive.png" class="img-responsive" (click)="tileClicked('Hive')">
    </tr>
    <tr>
      <img src="assets/ZergIcons/HydraliskDen.png" class="img-responsive" (click)="tileClicked('Hydralisk Den')">
      <img src="assets/ZergIcons/InfestationPit.png" class="img-responsive" (click)="tileClicked('Infestation Pit')">
      <img src="assets/ZergIcons/Lair.png" class="img-responsive" (click)="tileClicked('Lair')">
      <img src="assets/ZergIcons/LurkerDen.png" class="img-responsive" (click)="tileClicked('Lurker Den')">
      <img src="assets/ZergIcons/NydusNetwork.png" class="img-responsive" (click)="tileClicked('Nydus Network')">
      <img src="assets/ZergIcons/NydusWorm.png" class="img-responsive" (click)="tileClicked('Nydus Worm')">
    </tr>
    <tr>
      <img src="assets/ZergIcons/RoachWarren.png" class="img-responsive" (click)="tileClicked('Roach Warren')">
      <img src="assets/ZergIcons/SporeCrawler.png"  class="img-responsive" (click)="tileClicked('Spore Crawler')">
      <img src="assets/ZergIcons/SpawningPool.png" class="img-responsive" (click)="tileClicked('Spawning Pool')">
      <img src="assets/ZergIcons/SpineCrawler.png" class="img-responsive" (click)="tileClicked('Spine Crawler')">
      <img src="assets/ZergIcons/Spire.png" class="img-responsive" (click)="tileClicked('Spire')">
      <img src="assets/ZergIcons/UltraliskCavern.png" class="img-responsive" (click)="tileClicked('Ultralisk Cavern')">
    </tr>
  </table>