<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">What's the Moan?</h4>
      Can you guess the unit/building just from the noise it makes? Pick a race to play.
    </div>
    <div class="panel-body">
      <div class="btn btn-success raceicon" [routerLink]="['moans', 'zerg']"><img class src="assets/zergicon.png"></div>
      <div class="btn btn-success raceicon" routerLink="moans/terran"><img class src="assets/terranicon.png">
      </div>
      <div class="btn btn-success raceicon" routerLink="moans/protoss"><img class src="assets/protossicon.png">
      </div>
    </div>
  </div>