ul {
    list-style-type: none;
}

.jumbotron {
    background: #404146;
}

.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}

.navbar-header{
    margin-left: 2px;
    margin-right: 2px;
    color: black;
}

.navbar-text{
    color: black;
}