<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="container-fluid">
        <a class="navbar-brand" href="">
          <img alt="Brand" src="assets/6bitzerg.png">
        </a>
        <h4 class="navbar-text" style="padding-right: 20px"> The Many Moans of the Zerg</h4>
        <button type="button" routerLink="/inplay" routerLinkActive="active" class="btn navbar-btn btn-success">Challenge</button>
        <button type="button" routerLink="/practice" routerLinkActive="active" class="btn navbar-btn btn-warning">Practice</button>
      </div>
      </div>
        
        <span class="navbar-text">
              <a href="https://github.com/Meggot/moansofzerg">Made by Meggot</a>
            </span>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>