<table>
    <th> <h3>Units</h3> </th>
  <tr>
    <img src="assets/ZergIcons/Baneling.png" class="img-responsive" (click)="tileClicked('Baneling')">
    <img src="assets/ZergIcons/Broodling.png" class="img-responsive" (click)="tileClicked('Broodling')">
    <img src="assets/ZergIcons/Broodlord.png" class="img-responsive" (click)="tileClicked('Broodlord')">
    <img src="assets/ZergIcons/Changeling.png" class="img-responsive" (click)="tileClicked('Changeling')">
    <img src="assets/ZergIcons/Corruptor.png" class="img-responsive" (click)="tileClicked('Corruptor')">
    <img src="assets/ZergIcons/Drone.png" class="img-responsive" (click)="tileClicked('Drone')">
  </tr>
  <tr>
    <img src="assets/ZergIcons/Hydralisk.png" class="img-responsive" (click)="tileClicked('Hydralisk')">
    <img src="assets/ZergIcons/Infestor.png" class="img-responsive" (click)="tileClicked('Infestor')">
    <img src="assets/ZergIcons/Larvae.png" class="img-responsive" (click)="tileClicked('Larvae')">
    <img src="assets/ZergIcons/Locust.png" class="img-responsive" (click)="tileClicked('Locust')">
    <img src="assets/ZergIcons/Lurker.png" class="img-responsive" (click)="tileClicked('Lurker')">
    <img src="assets/ZergIcons/Mutalisk.png" class="img-responsive" (click)="tileClicked('Mutalisk')">
  </tr>
  <tr>
    <img src="assets/ZergIcons/Overlord.png" class="img-responsive" (click)="tileClicked('Overlord')">
    <img src="assets/ZergIcons/Overseer.png" class="img-responsive" (click)="tileClicked('Overseer')">
    <img src="assets/ZergIcons/Queen.png" class="img-responsive" (click)="tileClicked('Queen')">
    <img src="assets/ZergIcons/Ravager.png" class="img-responsive" (click)="tileClicked('Ravager')">
    <img src="assets/ZergIcons/Roach.png" class="img-responsive" (click)="tileClicked('Roach')">
    <img src="assets/ZergIcons/SwarmHost.png" class="img-responsive" (click)="tileClicked('Swarm Host')">
  </tr>
  <tr>
    <img src="assets/ZergIcons/Ultralisk.png" class="img-responsive" (click)="tileClicked('Ultralisk')">
    <img src="assets/ZergIcons/Viper.png" class="img-responsive" (click)="tileClicked('Viper')">
    <img src="assets/ZergIcons/Zergling.png" class="img-responsive" (click)="tileClicked('Zergling')">
  </tr>
</table>