<div class="row">
  <div class="col-md-12 float-center">
    <div *ngIf='!isPlaying'>
      <h4>Click the icon of the building or unit that makes the sound. Press start when you are ready. Good luck!</h4>
      <div class="col-md-12 btn btn-success" (click)="startGame()"> Start </div>
    </div>
    <div *ngIf='isPlaying' class="col-md-10">
      <div class="col-md-3 alert" [ngClass]="(lastAnswerCorrect)?'alert-success':'alert-danger'" 
      *ngIf='!finished'>
        <h4>{{ gameState.score }} / {{ gameState.length}} Correct</h4>
        <div *ngIf='gameState.wrongAnswers >0' style='text-emphasis-color: red'>
          <h4>{{ gameState.wrongAnswers }} Wrong </h4>
        </div>
        <p> {{ outputMessage }} </p>
      </div>

      <div class="col-md-8"  *ngIf='finished'>
         Game Over. Final Score: {{ gameState.score }} / {{gameState.length }} with {{ gameState.wrongAnswers }} wrong answers.
      </div>
      
      <div class="col-md-6" *ngIf='!finished'>
        <div class="btn btn-warning" (click)="playNoise()">Replay Noise</div>
      </div>
  </div>

  <div class="row" *ngIf='isPlaying  && !finished'>
    <div class="col-md-12">
      <div class="container">
          <app-zerg-unit-tile (unitClicked)="answer($event)"></app-zerg-unit-tile>
          <app-zerg-building-tile (buildingClicked)="answer($event)"></app-zerg-building-tile>
      </div>
    </div>
  </div>
</div>
